<!DOCTYPE html>
<html lang="en">
<link rel="stylesheet" href="css/style.css">
<head>
       
    <meta charset="UTF-8">
       
    <link rel="stylesheet" href="">
        <title>File_Commander</title>
</head>

<body>
    <div class="menu">
        <a href="/upload">Upload</a>
        <a href="/fileManager">FileManager</a>
    </div>
        {{{body}}}

</body>

</html>