<div class="mainDiv">
    <div class="vertMenu" style="width: 340px;">
        <h2>Upload</h2>
    </div>
    <div class="content">
        <form enctype="multipart/form-data" method="POST" action="/handleUpload">
            <input type="file" multiple required  name="imageupload">
            <input type="submit">
        </form>
    </div>
</div>